
@primary:#409eff;
@success:#67C23A;
@warning:#E6A23C;
@danger:#F56C6C;
@info:#909399;
@default:#fff;

@typeEnumVar:@primary,@success,@warning,@danger,@info;


@primary-hover:#66b1ff;
@success-hover:#85ce61;
@warning-hover:#ebb563;
@danger-hover:#f78989;
@info-hover:#a6a9ad;
@default-hover:#ecf5ff;

@hoverEnumvar:@primary-hover,@success-hover,@warning-hover,@danger-hover,@info-hover;


@typeEnum:primary,success,warning,danger,info;
@sizeEnum:medium,small,mini;


@parmay-disabled:#a0cfff;
@success-disabled:#b3e19d;
@info-disabled:#c8c9cc;
@warning-disabled:#f3d19e;
@danger-disabled:#fab6b6;
@default-disabled:#c0c4cc;

@disabledEnumVar:@parmay-disabled,@success-disabled,@info-disabled,@warning-disabled,@danger-disabled;



@font-size-medium:16px;
@font-size-small:14px;
@font-size-mini:12px;
@sizeEnumVar:@font-size-medium,@font-size-small,@font-size-mini;




/**
*按钮
*/

@button-pading-medium:12px 20px;
@button-pading-small:10px 20px;
@button-pading-mini:7px 15px;
@buttonPadingEnumVar:@button-pading-medium,@button-pading-small,@button-pading-mini;

