// 颜色
@primary:#409eff;
@success:#67C23A;
@warning:#E6A23C;
@danger:#F56C6C;
@info:#909399;
@default:#fff;
@default-hover:#ecf5ff;
@default-disabled:#c0c4cc;
//枚举颜色 
@typeEnumVar:@primary,@success,@warning,@danger,@info;

//hover颜色 
@primary-hover:lighten(@primary,10%);
@success-hover:lighten(@success,10%);
@warning-hover:lighten(@warning,10%);
@danger-hover:lighten(@danger,10%);
@info-hover:lighten(@info,10%);

//hover枚举颜色 
@hoverEnumVar:@primary-hover,@success-hover,@warning-hover,@danger-hover,@info-hover;

//激活颜色
@primary-active:darken(@primary,5%);
@success-active:darken(@success,5%);
@warning-active:darken(@warning,5%);
@danger-active:darken(@danger,5%);
@info-active:darken(@info,5%);
@default-active:@primary;
//激活枚举
@activeEnumVar:@primary-active,@success-active,@warning-active,@danger-active,@info-active,@default-active;


//状态枚举 
@typeEnum:primary,success,warning,danger,info;

//大小枚举 
@sizeEnum:medium,small,mini;

//disabled颜色
@parmay-disabled:lighten(@primary,20%);
@success-disabled:lighten(@success,20%);
@info-disabled:lighten(@warning,20%);
@warning-disabled:lighten(@danger,20%);
@danger-disabled:lighten(@info,20%);


//disabled枚举
@disabledEnumVar:@parmay-disabled,@success-disabled,@info-disabled,@warning-disabled,@danger-disabled;



//字体大小
@font-size-medium:16px;
@font-size-small:14px;
@font-size-mini:12px;
//字体大小枚举
@sizeEnumVar:@font-size-medium,@font-size-small,@font-size-mini;

//普通圆角
@radiusPrimary:4px;

//按钮padding
@button-pading-medium:12px 20px;
@button-pading-small:10px 20px;
@button-pading-mini:7px 15px;
//按钮padding 枚举
@buttonPadingEnumVar:@button-pading-medium,@button-pading-small,@button-pading-mini;

