/*

Colorbrewer theme
Original: https://github.com/mbostock/colorbrewer-theme (c) Mike Bostock <mike@ocks.org>
Ported by FabrÃ­cio Tavares de Oliveira

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
}

.hljs,
.hljs-subst {
  color: #000;
}

.hljs-string,
.hljs-meta,
.hljs-symbol,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #756bb1;
}

.hljs-comment,
.hljs-quote {
  color: #636363;
}

.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-bullet,
.hljs-link {
  color: #31a354;
}

.hljs-deletion,
.hljs-variable {
  color: #88f;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-doctag,
.hljs-type,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-strong {
  color: #3182bd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute {
  color: #e6550d;
}

.page-component {
  box-sizing: border-box;
  height: 100%;
}
.page-component .side-nav {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 0;
}
.page-component .content > table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
}
.page-component .content > table strong {
  font-weight: 400;
}
.page-component .content > table td,
.page-component .content > table th {
  border-bottom: 1px solid #dcdfe6;
  padding: 15px;
  max-width: 250px;
}
.page-component .content > table th {
  text-align: left;
  white-space: nowrap;
  color: #909399;
  font-weight: 400;
}
.page-component .content > table td {
  color: #606266;
}
.page-component .content > table td:first-child,
.page-component .content > table th:first-child {
  padding-left: 10px;
}
